#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb( 236, 227, 255, .5);
  color: black;
  border-radius: 1.7rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: solid 3px black;
  border-radius: 1rem;
  margin-bottom: 3ch;
  /* background-color: rgb(185, 219, 255, .6); */
}
.header img {
  height: 3ch;
}
.header h3 {
  margin-right: auto;
}
.searchResults {
  display: grid;
  grid-template: 10ch 20ch 10ch / 1fr 2fr 1fr;
}
.searchResults header {
  grid-column: 1 / -1 ;
  display: flex;
  gap: 3ch;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header img {
  height: 6ch;
  width: 6ch;
}
.searchResults .team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team img {
  height: 15ch;
  width: 15ch;
}
.searchResults footer {
  grid-column: 1 / -1;
}
svg {
  height: 3ch;
  width: 3ch;
}
.searchResults button {
  grid-column: 2 / -2 ;
  display: flex;
  justify-content: center;
}
input {
  height: 4ch;
  width: 80%;
  background-color: #2d3250;
  border-radius: 7px;
  border: none;
}

@media ( max-width: 600px ) {
  #root {
    margin: 2ch;
  }
  header img {
    height: 5ch;
    width: 5ch;
  }
  .team img {
    height: 10ch;
    width: 10ch;
  }
}